[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astm = "*"
certifi = "*"
chardet = "*"
crc16 = "*"
hid = "==1.0.4"
idna = "*"
pycrypto = "*"
pydantic = "*"
pymongo = "*"
python-dateutil = "*"
python-lzo = "*"
requests = "*"
six = "*"
transitions = "*"
urllib3 = "*"
homeassistant-api = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
